<tr>
  <td>
    <%= post.overtime_request %>
  </td>
  <td>
    <%= post.date %>
  </td>
  <td class="hidden-xs">
    <%= link_to truncate(post.rationale), post %>
  </td>
  <td>
    <%= status_label post.status %>
  </td>
  <td>
    <%= link_to '', edit_post_path(post), id: dom_id(post, :edit), class: 'glyphicon glyphicon-pencil index-icons' if policy(post).update? %>
  </td>
  <td>
    <%= link_to '', post, method: :delete, id: "delete_post_#{post.id}_from_index", class:'glyphicon glyphicon-trash index-icons', data: { confirm: 'Are your sure?' } %>
  </td>
</tr>